.container {
  padding: 0 2rem;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.box{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadBox{
  height: 50%;
  width: 40%;
  background-color:white;
  box-shadow: 2px 2px 8px black;
}

.titleBox{
  color: black;
  font-weight: bold;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
}

.formBox{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nameBox{
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.nameBox label{
  font-weight: 500;
  font-size: 1.1rem;
}

.nameBox input{
  height: 40%;
  width: 80%;
}

.uploadBox1{
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploadBox1 label{
  font-weight: 500;
  font-size: 1.1rem;
}

.fileUpload{
  padding: 8px;
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.fileUpload::-webkit-file-upload-button{
  background-color: red;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.454);
}



